<p id="notice"><%= notice %></p>
<% if @pago.usuario_id == current_usuario.id || current_usuario.admin? %>
	<%= render "form" %>
<% else %>
	<%= render file: "inicio/prohibido" %>
<% end %>

<%= link_to 'Menú principal', root_path %>
