<h1>Listing rutas_surveys</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rutas_surveys.each do |rutas_survey| %>
      <tr>
        <td><%= link_to 'Show', rutas_survey %></td>
        <td><%= link_to 'Edit', edit_rutas_survey_path(rutas_survey) %></td>
        <td><%= link_to 'Destroy', rutas_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rutas survey', new_rutas_survey_path %>
