<h1>Moot Nacional 2014</h1>
<ol>
	<li><%= link_to 'Datos de participantes', datos_usuarios_path %></li>
	<li><%= link_to 'Datos de registro de participantes', datos_registros_path %></li>
	<li><%= link_to 'Crear Ficha Médica', new_fichas_medica_path %></li>
	<li><%= link_to "Cerrar sesión", destroy_usuario_session_path, :method => :delete %></li>


</ol>


