<div class="container-fluid">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h1 class="panel-title">En mantenimiento</h1>
		</div>
		<div class="panel-body">
			<p>¡Hola!</p>
			<p>Estamos realizando mantenimiento a los servidores. Pronto estaremos de vuelta</p>
		</div>
	</div>
</div>