<html>
	<head>
	</head>
	<body class="container-fluid">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-lg-4">
				<p>Hodor, hodor HODOR hodor, hodor hodor, hodor. Hodor hodor? Hodor hodor hodor hodor hodor hodor hodor! Hodor! Hodor hodor, hodor - hodor - hodor... Hodor hodor hodor. Hodor hodor - hodor?! Hodor! Hodor hodor, HODOR hodor, hodor hodor; hodor hodor, hodor, hodor hodor. Hodor hodor hodor hodor hodor. </p>

				<p>Hodor, hodor, hodor. Hodor hodor; hodor hodor? Hodor hodor hodor hodor; hodor hodor, hodor, hodor hodor. Hodor. Hodor HODOR hodor, hodor hodor... Hodor hodor hodor? Hodor. Hodor hodor hodor HODOR hodor, hodor hodor hodor hodor - hodor?! </p>

				<blockquote>
					<p>Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor? Hodor. Hodor hodor - hodor; hodor hodor. Hodor. Hodor, hodor... Hodor hodor hodor? Hodor, hodor hodor hodor hodor hodor, hodor, hodor hodor. </p>
					<small><b>Hodor</b> in <cite title="Source Title">HODOR!!</cite></small>
				</blockquote>

			</div>
			<div class="col-xs-8 col-sm-8 col-lg-8 footer-image">
				<img class="img-responsive portada" src="<%= asset_path('image_index.gif') %>"></img>
			</div>
		</div>
	</body>
</html>