<html>
	<head>
	</head>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('carousel/ConquistaCentral.png', class: "img-responsive") %>
      <div class="carousel-caption">
        <h3>Primera Im치gen</h3>
        <p>Caption disponible</p>
      </div>
    </div>
    <div class="item ">
      <%= image_tag('carousel/ACICAYCO.png', class: "img-responsive")  %>
      <div class="carousel-caption">
        <h3>Segunda Im치gen</h3>
        <p>Caption disponible</p>
      </div>
    </div>
    <div class="item ">
      <%= image_tag('carousel/AventuraPromesa.png', class: "img-responsive")  %>
      <div class="carousel-caption">
        <h3>Tercera Im치gen</h3>
        <p>Caption disponible</p>
      </div>
    </div>
    <div class="item ">
      <%= image_tag('carousel/TravesiaPlayera.png', class: "img-responsive")  %>
      <div class="carousel-caption">
        <h3>Cuarta Im치gen</h3>
        <p>Caption disponible</p>
      </div>
    </div>
</div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</html>