<div class="container-fluid">
	<div class="panel panel-danger">
		<div class="alert alert-dismissable alert-warning">
			<p>¡Felicitaciones!</p>
			<p>Ya tenemos todos tus datos. Puedes regresar al menú principal <%= link_to 'Aquí', root_path %></p>
		</div>
	</div>
</div>