<div class="container-fluid">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h1 class="panel-title">Contenido no disponible temporalmente</h1>
		</div>
		<div class="panel-body">
			<p>¡Hola!</p>
			<p>Este módulo se encuentra en proceso de construcción. Pronto estará disponible.</p>
		</div>
	</div>
</div>