<div class="container-fluid">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h1 class="panel-title">Contenido no disponible</h1>
		</div>
		<div class="panel-body">
			<p>¡Hola!</p>
			<p>Este módulo ya no se encuentra disponible.</p>
		</div>
	</div>
</div>