<h1>Vacunas</h1>
<div class="alert alert-dismissable alert-warning">
<p><strong>¡Éste es el último cuestionario!</strong></p>
<p>Selecciona las vacunas que hayas recibido. Si no aparecen aquí, llena el campo "otros".</p>
</div>
<%= render 'form' %>

<%= link_to 'Back', vacunas_path %>
