<h1>Alergias</h1>
<div class="alert alert-dismissable alert-warning">
<p><strong>¡Perfecto!</strong></p>
<p>Ahora dinos a qué eres alérgico. Selecciona el tipo de alergia que tienes, y detállalas en en cuadro de abajo. Recuerda -como siempre- ser lo más detallado posible.</p>
</div>
<%= render 'form' %>

<%= link_to 'Back', alergies_path %>
