<h1>Padecimientos</h1>
<div class="alert alert-dismissable alert-warning">
<p><strong>¡Ya casi terminamos!</strong></p>
<p>Si padeces o has padecido de alguna de las siguientes opciones, por favor márcalas. Si no aparecen aquí, llena el campo "otros".</p>
</div>

<%= render 'form' %>

<%= link_to 'Back', padecimientos_path %>
