<h2>Inicio de sesi칩n</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<form class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<div class="col-lg-10">
				<label class="col-xs-3">Correo electr칩nico</label>
				<%= f.text_field :email, :required => true, :autofocus => true %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-10">
				<label class="col-xs-3">Contrase침a</label>
				<%= f.input_field :password, :required => true, :size => 20 %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10">
				<%= f.button :submit, "Incia sesi칩n" %>
			</div>
		</div>
	</fieldset>
</form>
<% end %>


